{% extends 'base.html' %}
{% block content %}
    <h1>{{ htmlmodel.title }}</h1>
    <p>{{ htmlmodel.description|safe|linebreaksbr }}</p>
    <div class="flex-container">
        <div class="text-editor ">
            <textarea name="input" class="noscroll" id="" cols="30" rows="10">{{ htmlmodel.example_html }}</textarea>
            <input type="button" value="run" onclick="run(this)">
        </div>
        <div class="screen noscroll">
        </div>
    </div>
    <div class="comment-container">
        <h1>Comment Section</h1>
        <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add comment</button>
        </form>
    </div>
    <div class="container flex-comment">
        {% for comment in htmlmodel.comments.all %}
            <div class="comment-card">
            <p>{{ comment.text|safe|linebreaks }}</p>
            <h3>Posted By: {{ comment.author }}</h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}